[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.pointer { 
    cursor: pointer; 
    cursor: hand; 
}

.masthead .btn {
    margin-top: 5px;    
}

.movie-list .movie-title {
    max-width: 450px;
}

.movie-list li, .search-list li {
    margin-bottom: 10px;
}

.movie-list .movie {
    border-left: 3px solid transparent;
    padding-left: 4px;
}

.movie-list .movie.selected {
    border-left: 3px solid #fff;
}

.movie-list .movie.selected h4 {
    font-weight: bold;
}

.movie-list .movie:HOVER {
    border-color: #999;
}

.input-prepend.input-block-level {
    display: table;
    width: 100%;
}
 
.input-prepend.input-block-level .add-on {
    display: table-cell;
    background-color: white;
}
 
.input-prepend.input-block-level > input {
    box-sizing: border-box;
    height: 30px;
    display: table-cell;
    width: 100%;
    border-left-style: none;
}
