[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

li {
    line-height: 21px;
}

.pointer { 
    cursor: pointer; 
    cursor: hand; 
}

.masthead .btn-group {
    margin-top: 5px;    
}

.close {
    opacity: 0.8;
    color: white;
}

.poster {
    position: relative;    
}

.poster i {
    position: absolute; 
    right: 3px; 
    bottom: 4px;
    background-color: white;
}

.movie-list .movie-title {
    max-width: 450px;
}

.movie-list li, .search-list li {
    margin-bottom: 10px;
}

.movie-list .movie {
    border-left: 3px solid transparent;
    padding-left: 4px;
}

.movie-list .movie.selected {
    border-left: 3px solid #fff;
}

.movie-list .movie.selected h4 {
    font-weight: bold;
}

.movie-list .movie:HOVER {
    border-color: #999;
}

.input-prepend.input-block-level {
    display: table;
    width: 100%;
}
 
.input-prepend.input-block-level .add-on {
    display: table-cell;
    background-color: white;
}
 
.input-prepend.input-block-level > input {
    box-sizing: border-box;
    height: 30px;
    display: table-cell;
    width: 100%;
    border-left-style: none;
}


.form-search .input-append .add-on:last-child {
    border-radius: 0 15px 15px 0;
    background-color: #FFFFFF;
    border-left-style: none;
}

.form-search .input-append .search-query {
    border-right: none;
}

/* turn off glow effet*/
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
    border-color: inherit;
    box-shadow: none;
    outline: 0 none;
}

.media .movie-title i {
    margin-bottom: 3px;
}

