[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.upcoming-list li, .search-list li {
    margin-bottom: 10px;
}

.upcoming-list .movie {
    border-left: 3px solid white;
    padding-left: 4px;
    cursor: pointer;
}

.upcoming-list .movie.selected {
    border-left: 3px solid black;
}

.upcoming-list .movie.selected h4 {
    font-weight: bold;
}

.upcoming-list .movie:HOVER {
    border-color: #999;
}
